<%=
if @cocktail.photo.nil?
  render "shared/banner"
else
  render "shared/show_banner"
end %>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="cocktail-show-card">
        <h1><%= @cocktail.name %></h1>
      </div>
      <div class="cocktail-show-card">
        <h2>Description</h2>
        <p><%=  %> </p>
          <%= link_to "Edit", edit_cocktail_path(@cocktail.id), class: "btn btn-primary mb-2" %>
          <button id="sweet-alert-delete" class="btn btn-danger">Delete</button>
          <%= link_to "", cocktail_path(@cocktail.id), method: :delete, id: "delete-link", class: "" %>
      </div>
      <div class="cocktail-show-card">
        <h5> Reviews </h5>
        <% @cocktail.reviews.each do |review| %>
        <ul>
          <li><%= review.content %></li>
          <li>Rating: <%= review.rating %></li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cocktail-show-card">
        <h2>Cocktail ingredients:</h2>
        <% @cocktail.ingredients.each do |ingredient| %>
        <p> <%= ingredient.name %>
          <% ingredient.doses.each do |dose| %></p>
          <ul>
            <li> <%= dose.name %> </li>
          </ul>
          <% end %>
        <% end %>
      </div>
      <div class="cocktail-show-card">
        <h3> Add dose </h3>
        <%= render "/doses/form" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cocktail-show-card">
        <h5> View more! </h5>
        <%= link_to "View next", cocktail_path(@cocktail.id+1), class: "btn btn-primary mb-2" %>
        <%= link_to "View previous", cocktail_path(@cocktail.id-1), class: "btn btn-primary mb-2" %>
        <%= link_to "View all", cocktails_path, class: "btn btn-primary mb-2" %>
      </div>
      <div class="cocktail-show-card">
        <h5> Share </h5>
        <i class ="fa fa-facebook-square fa-2x mr-2"></i>
        <i class ="fa fa-twitter-square fa-2x mr-2"></i>
        <i class ="fa fa-pinterest-square fa-2x mr-2"></i>
        <i class ="fa fa-envelope-square fa-2x mr-2"></i>
      </div>
      <div class="cocktail-show-card">
        <h5> Write a review </h5>
        <%= render "reviews/form" %>
      </div>
    </div>
  </div>
</div>
